// Place all the styles related to the Qsorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#qsorts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 50%;
}
#qsorts li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}
#qsorts li span {
  position: absolute;
  margin-left: -1.3em;
  display: inline-block;
  width: 50%;
}
.handle:hover {
  cursor: move;
}