<h3>About Us</h3>
<p>Formerly known as the School of Computer Science, Telecommunications and Information Systems (CTI), we became the College of Computing and Digital Media(CDM) in 2008 to better convey the scope of our programs to employers and industry professionals. CDM is now organized into two schools: the School of Computing (SoC) and the School of Cinema and Interactive Media (CIM).</p>
<br/>
<h3>Mission</h3>
<p>To match student candidates with appropriate IT internships. These computer-related positions should give students practical work experience in IT while satisfying their Junior year experiential learning requirement. Internships should allow students an opportunity to integrate academic experience with on-the-job training in computer-related work areas. Students will be matche by this process based on their skills, as well as their potential fit to the culture of the internship company.</p>
<br/>
<h3>Contact Us</h3>
<p>
  Thomas Muscarello, PhD<br/>
  Associate Professor<br/>
  College of Computing and Digital Media<br/>
  DePaul University<br/>
  243 S Wabash #845<br/>
  Chicago IL 60604<br/>
  <%= mail_to "TMuscare@cdm.depaul.edu" %><br/>
  312-362-8737  office phone
</p>
<br/>
<h3>Terms of Service</h3>
<p>
  Legalese here
</p>
