/*
	PRIMARY STYLE SHEET
	CREATED BY: Matthew McDonald
	DATE CREATED: January 22, 2013
	VERSION NUMBER: 1.0
*/

/* VARIABLES */

	/* COLORS */
		$primarycolor: #fff;
		$secondarycolor: #666;
		$ternarycolor: #c92;
		$backgroundcolor: #ccc;
		$textcolor: #333;
		$linkcolor: #000;
		$linkhovercolor: $ternarycolor;
	/* END COLORS */
	
	/* FONTS */
		$font: arial, verdana, helvetica, sans-serif;
	/* END FONTS */
	
	/* NUMBERS */
		$sitewidth: 85%;
	/* END NUMBERS */

/* END VARIABLES */

/* DEFINITIONS */

	/* GENERAL SETTINGS */
	
		body { /* Default Settings */
			background-color: $backgroundcolor;
			color: $textcolor;
			font-family: $font;
			font-size: 13px;
			line-height: 18px; 
			padding: 0px;
			margins: 0px;
		}

		p, ol, ul, td { /* Paragraphs, lists, and tables */
			font-family: $font;
			font-size: 13px;
			line-height: 18px; 
		}

		pre { /* Preserves Whitespace */
			background-color: #eee;
			padding: 0px;
			font-size: 0px; 
		}

		a { /* Hyperlinks */
			color: $linkcolor;
			&:visited {
				color: $linkcolor; 
			}
			&:hover {
				color: $linkhovercolor;
			} 
		}

		h1 { /* Header 1 */
			color: $ternarycolor;
		}

		h2 { /* Header 2 */
			color: $ternarycolor;
		}
		
		h3 { /* Header 3 */
			color: $ternarycolor;
		}

		table { /* Table */
			width: 100%;
			border-collapse: collapse;
			td { /* Table data */
				background-color: $primarycolor; 
				border: 1px solid $backgroundcolor;
				color: $textcolor;
				padding: 5px;
			}
			th { /* Table header */
				background-color: $ternarycolor;
				border: 1px solid $backgroundcolor;				
				color: $primarycolor;
				padding: 5px;
			}
            th.side { /* Table header */
                width: 20%;
                text-align: right;
            }
		}

	/* END GENERAL SETTINGS */
	
	/* PAGE LAYOUT SETTINGS */

		div.head { /* Container for page header */
			margin-left:auto;
			margin-right:auto;
			margin-bottom: 0;
			width: $sitewidth;
			padding: 10px;
			overflow:hidden;
			
			img {
				display: block;
				float: left;
			}
			
			a { /* Link Style */
				text-decoration: none;
				font-weight: bold;
			}
			
			#nav {
				width: $sitewidth + 20;
				float: left;
				margin: 10px -10px -10px -10px;
				padding: 0;
				list-style: none;
				background-color: #f2f2f2;
				border-bottom: 1px solid $backgroundcolor; 
				border-top: 1px solid $ternarycolor; 
			}
			#nav li {
				float: left; 
			}
			#nav li a {
				display: block;
				padding: 8px 15px;
				text-decoration: none;
				font-weight: bold;
				color: $ternarycolor;
				border-right: 1px solid $backgroundcolor; 
			}
			#nav li a:hover {
				color: $ternarycolor;
				background-color: $primarycolor; 
			}
		}

		div.body { /* Container for page content */
			background-color: $primarycolor;
			margin-left:auto;
			margin-right:auto;
			margin-top:0;
			margin-bottom: 0;
			width: $sitewidth;
			padding: 10px;
		}
		
		div.foot { /* Container for page footer */
			background-color: $primarycolor;
			text-align: center;
			padding: 10px;
			margin-left:auto;
			margin-right:auto;
			margin-top:0;
			margin-bottom: 100px;
			border-top: 1px dashed $backgroundcolor;
			border-bottom: 1px solid $ternarycolor;
			width: $sitewidth;
		}
		
	/* END PAGE LAYOUT SETTINGS */
	
	/* ERROR SETTINGS */

		div { /* Form Spacing */
			&.field, &.actions {
				margin-bottom: 10px;
			} 
		}
	
		#notice { /* Success Message */
			color: green; 
		}

		.field_with_errors { /* Error Message */
			input {
				border: 2px solid #c00;
			}
		}

		#error_explanation { /* Error List / Explanation */
			width: 450px;
			border: 2px solid #000000;
			padding: 7px;
			padding-bottom: 0;
			margin-bottom: 20px;
			h2 {
				text-align: left;
				font-weight: bold;
				padding: 5px 5px 5px 15px;
				font-size: 12px;
				margin: -7px;
				margin-bottom: 0px;
				background-color: #c00;
				color: #fff; 
			}
			ul li {
				font-size: 12px;
				list-style: square; 
			} 
		}
		
	/* END ERROR SETTINGS */
	
/* END DEFINITIONS */


